.videoBlock {
  background-color: black;
  video {
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .videoBlock__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .videoBlock__views {
    font-size: 15px;
  }
}
